<div class="form-container">
<%= form_for @item, :url => { :action => 'create' }, :html => { :class => "form-horizontal" } do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, :placeholder => "Description of your saved code" %>
  </div>

  <div class="field">
    <%= f.label :link %>
    <%= f.text_field :link, :placeholder => "http://" %>
  </div>
  
  <% if !@hideCode %>
  <div class="field">
    <%= f.label :code %>
    <%= f.text_area :code, :rows => 10  %>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list, :placeholder => "Comma, separated, tags" %>
  </div>

  <div class="field">
    <%= f.label :public %>
    <%= f.check_box :public %>
  </div>
  
  <br />
  <div class="actions">
    <%= f.submit "Save snippet", :class => "btn-primary" %>
  </div>
<% end %>
</div>