<li class="item <%= @hasCode ? 'snippet' : 'article' %>">

<h3>
<%= link_to @item.title, @item.link, :class => 'title' %>
<span class="ago"><%= @timeAgo %></span>
</h3>

<% if !current_user.nil? %>
	<div class="item-actions">
	<%# link_to "edit", edit_item_link %>
	</div>
<% end %>

<% if defined?(@item.code) && !@item.code.nil? %>
	<pre><%= @item.code %></pre>
<% end %>

<div class="tags">
<% for tag in @tags %>
	<span class="content-tag">
	<a href="/items/tagged/<%= tag.name %>">
	<%= tag.name %>
	</a>
	</span>
<% end %>
</div>

</li>