<!DOCTYPE html>
<html>
<head>
  <title>Hackrtools</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

  <h1><%= link_to "Hackr Tools", root_path %></h1>

  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">×</a>
      <%= msg %>
    </div>
  <% end %>

  <%= yield %>

  </div>
</body>
</html>
