<!DOCTYPE html>
<html>
<head>
  <title>Hackrtools</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
  <div class="container">

  <h1><%= link_to "Hackr Tools", root_path %></h1>
=======

  <header>
    <hgroup>
      <h1>Hackr Tools</h1>
      <h2>Toolboxes for developers</h2>
    </hgroup>
  </header>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


  <%= yield %>
>>>>>>> items

<%= yield %>
	
	</div>
</body>
</html>
