<!DOCTYPE html>
<html>
<head>
  <title>Hackr Tools</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

  <header>
	<h1><%= link_to image_tag('logo.png'), root_path %></h1>
  </header>
  
  <% flash.each do |name, msg| %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
      <a class="close" data-dismiss="alert">×</a>
      <%= msg %>
    </div>
  <% end %>

  <div class="content">
  	<div class="row">
  	<div class="span8">
	<%= yield %>
	</div>
	
	<div class="actions span4">
	<%= link_to 'New Article', new_article_path %>
	<%= link_to 'New Snippet', new_snippet_path %>
	
	</div>
	</div>
  </div>
  
  <footer>
  Built by <a href="http://wylieconlon.com">Wylie Conlon</a>, <a href="http://erickelly.net">Eric Kelly</a>, and <a href="http://ali.io">Ali Ukani</a>
  </footer>

  </div>
</body>
</html>
